.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    
  }
  
 .image {
     
  &:hover {   
    border: black solid;
    transition: 0.8s;
    transform: scale(1.1);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.596);
  }
  }
