.gallery {
    text-align: center;
    margin: 100px  10px  100px  10px ; 
    h2 {
      padding: 10px;
    }
  
    img {
      height: 300px;
      padding: 10px;
      border: 1px solid black;
      margin: 5px;
      
    background-color: #f6f6f6;
    }
  }